*{
  /* border: 1px solid red; */
}    

#content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#main{
  margin: 0 auto;
  margin-top: 0px;
  width: 1000px;
  flex-wrap: wrap;
}

.sName{ margin: 0px 11px; }
.chSName{ margin: 0px 11px; }
#sample6_address{ margin-right: 11px; }
#sample6_address2{ margin-right: 11px; }

#main input{
  width: 430px;
  height: 45px;
  margin-bottom: 15px;
  border-radius: 7px;
  border: 1px solid black;
  padding-left: 10px;
}
#change{
  margin-top: 10px;
}
.inBtn , .changeBtn{
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: #00306e;
  color: white;
  font-weight: bold;
  margin: 0px 0px 7px 11px;
  box-shadow: 3px 3px 5px #8d8d8d;
}

.inBtn:active{ background-color: #004aad;}
.changeBtn:active{ background-color: #004aad;}

table{
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}
thead{
  background-color: #00306e; 
  color : white;
}

th, td{
  height: 47px;
}

td{ background-color: white;}

.btn{
  height: 40px;
  width: 70px;
  border-radius: 10px;
  border: none;
  background-color: #00306e;
  color: white;
  font-weight: bold;
  box-shadow: 3px 3px 5px #8d8d8d;
}

.btn:active{ background-color: #004aad;}

#output{
  width: 1000px;
  max-height: 472px;
  overflow-x:hidden;
  overflow-y: scroll;
  box-shadow: 3px 3px 5px #8d8d8d;
}

#input{ margin-bottom: 10px;}

#point{
  margin-top: 35px;
}
h2{
  height: 50px;
  margin: 20px 0px 10px 0px;
  align-content: center;
}
h3{
  height: 30px;
  margin: 10px 0px;
}
#cc{
  width: 75%;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* ========== 페이징 =========== */
#paging{
  text-align: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#paging .chgBtn{ width: 150px; height: 54px; }
#paging .pageBtn, .selectPage{
  width: 50px; height: 42px;
  margin: 5px;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  font-family: "NanumSquare";
  font-size: 13px;
  font-weight: bold;
  background-color: white;
}
#paging .pageBtn:active{ 
  background-color: #00306e; 
  color: white;
}

.selectPage{
  background-color: #00306e;
  color: white;
}