@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
*{
    /* border: 1px solid red; */
    margin : 0px; padding: 0px;
    box-sizing: border-box;
}
body{
    width: 1910px;
    box-sizing: border-box;
    background-color: #eeeeee;
}
#wrap{
    width: 100%;
    height: 911px;
    margin: 0 auto;
    font-family: 'NanumSquare';
    display: flex;
}

/* =========== 사이드바 =========== */
#menu{
    width: 12%;
    height: 100%;
    margin-top: 0px;
    text-align: start;
    background-color: #00306e;
}
#menu > ul{
    width: 100%;
}
ul > #title{
    font-weight: bold;
    font-size: 25px;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
li{
    border-bottom: 1px solid white;
    padding : 15px;
    font-size: 20px;
    list-style: none;
    font-weight: bold;
}
#menu > ul > li > a:hover{ color: #36b2fc;}


/*================== 로그인 페이지 ==================*/
#loginPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 20px;
    
}
.userId{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.userPw{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
   
}

input{
    width: 450px;
    height: 45px;
    margin-bottom: 20px;
    margin-left: 30px;
    border-radius: 3% 3%;
    border: 2px solid black;
}

.inBtn {
    width: 100px;
    height: 47px;
    border-radius: 10% 10% ;
    border: none;
    background-color: #0571d3;
    color: white;
    font-weight: bold;
    font-size: 17px;
    margin-left: 10px;
}